/*---------body,html-----------*/
body {
  position: relative;
  width:100%;
  height:100%;
  border:none;
  margin:none;
}

/*---------top menu-------*/
@media screen and (min-width: 700px) {
  #nav_phone{
    display:none;
  }
}
@media screen and (max-width: 700px) {
  #nav_pc{
    display:none;
  }
}

/*-----User Condition----*/
#user { 
  /*position: fixed;
  height: 500px;
  width: 280px;
  margin-top: 30px;
  margin-bottom: 80px;
  margin-left: 30px;
  background-color: #666666;
  background: #ffffff;
  box-shadow: 0 0 1px #aaaaaa;*/
}

/*-----footer------*/
@media screen and (min-width: 700px){
  .footer {
    text-align: center;
    background:#333333;
    color: #dddddd;
  }
  .footer a {
    color: #dddddd;
  }
}
@media screen and (max-width: 700px){
   .footer {
     display: none;
   }
}
/*----------------*/
    
/*--------User-------*/
@media screen and (min-width: 700px) {
  #user {
    position: absolute;
    top:30px;
    left:35px;
  }
  .id {
    text-align: center;
  }

  #user .content{
    width: 250px;
    height: 350px;
    word-wrap: break-word; 
    word-break: normal; 
  }
}
@media screen and (max-width: 700px) {
  #user{
    display: none;
  }
}

/*-------------------*/  
    
/*----Repo-------*/
@media screen and (min-width: 700px) {
  #repo {
    position:relative;
    min-height:100%;
    margin-top:40px;
    margin-left:329px;
    background-color: #666666;
    background: #eeeeee;
    box-shadow: 0 0 1px #333333;
    overflow-y: auto;
  }
}
@media screen and (max-width: 700px) {
  #repo {
    position:relative;
    min-height:100%;
    margin-top:40px;
    background-color: #666666;
    background: #eeeeee;
    box-shadow: 0 0 1px #333333;
    overflow-y: auto;
  }
}

/*-------Score-----------*/
.score {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width:250px;
  height:250px;
  padding: 20px;
  margin:30px;
  background: #ffffff;
  box-shadow: 0 0 1px #aaaaaa;
}
    
.content {
  position: absolute;
  padding: 10px;
  height:120px;
}

.buttons{
  position: absolute;
  bottom:15px;
}

.add_score {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width:250px;
  height:250px;
  padding: 20px;
  margin:30px;
  background: #aaaaaa;
  
  /*---- make it look like a button -----*/
  cursor: pointer;
}
    
.add_buttons{
  margin-top:55px;
  text-align:center;
}
.ui.add.header {
  color: #ffffff;
}
.ui.add.button {
  background: #aaaaaa;  
}
    
/*----------------------*/


.content2, .content3{
	text-align: center;
	background-color: #FFF;
}
.info{
	text-align: left;
	padding-top: 30px;
	padding-left: 60px;
	padding-right: 60px;

}
.content2title{
	padding-top: 30px;
}
.content3title{
	padding-top: 30px;
}
.signupbottom{
	padding-bottom: 50px;
}
.socialbutton{
	text-align: center;
	margin: 40px 0px 0px 20px;
	padding-bottom: 50px;
}
.space{
	margin-left: 20px !important;
	margin-right: 20px !important;
}
.modal_body {
  margin: 20px;
}
/*----------------*/

.pop-box {
	/*弹出窗口后，弹出的DIV采用此CSS，保证置于最上层
	  z-index控制Z轴的坐标，数值越大，离用户越近
	*/
	z-index: 999; /*这个数值要足够大，才能够显示在最上层*/
	display: none;
	position: absolute;
	background-color: rgba(100,100,100,0.5);
	border: solid1px #6e8bde;
	left:50%;
}

#pop-div1{
  top: 50%;
	width:400px;
	height: 270px;
	margin-left: -200px;
	margin-top:-135px;
}

#pop-div2{
  top: 50%;
	width:600px;
	height: 420px;
	margin-left: -300px;
	margin-top:-210px;
}

#pop-div3{
  top: 50%;
	width:600px;
	height: 420px;
	margin-left: -300px;
	margin-top:-210px;
}
#bg {
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	/*弹出窗口后，添加遮罩层，采用此CSS，将该层置于弹出DIV和页面层之间
	  z-index控制Z轴的坐标，数值越大，离用户越近
	*/
	z-index: 5;  
	background-color: rgba(100,100,100,0.5);
}

.create-link {
	
    animation-name: example;
    animation-duration: 0.5s;;
    animation-iteration-count: infinite;
    
    -webkit-animation-name: example;
    -webkit-animation-duration: 0.5s;;
    -webkit-animation-iteration-count: infinite;
}

/* The animation code */
@keyframes example {
    from {color: white;}
    to {color: yellow;}
}

@-webkit-keyframes example {
    from {color: white;}
    to {color: yellow;}
}

/*---------hide elements used as templete-----------*/
.templete {
    display: none;
}


/*---------icon relate to log in/out--------------*/

.post-login {
  display: none !important;
}